<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>О нас</title>
</head>
<head th:insert="blocks/head :: head"></head>
<body style="/*background: url(&quot;design.jpg&quot;);*/background-position: 0 -60px;">
<div th:insert="blocks/nav :: nav"></div>
<header class="bg-primary-gradient">
    <div class="container pt-4 pt-xl-5">
        <div class="row pt-5" style="margin-bottom: 10px;">
            <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto">
                <div class="text-center">
                    <h1 class="fw-bold">О нас</h1>
                </div>
            </div>
        </div>
        <div class="row d-xl-flex justify-content-xl-center">
            <div class="col-12" data-aos="zoom-in" style="margin-top: 5px;margin-bottom: 5px;">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                    massa.<br></p>
            </div>
            <div class="col-12" data-aos="zoom-in">
                <div class="carousel slide" data-bs-ride="false" id="carousel-1">
                    <div class="carousel-inner" data-bs-toggle="tooltip" data-bss-tooltip="">
                        <div class="carousel-item active"><img class="w-100 d-block" src="/img/about/about%20(16).jpg"
                                                               alt="Slide Image"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src="/img/about/about%20(22).jpg"
                                                        alt="Slide Image"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src="/img/about/about%20(24).jpg"
                                                        alt="Slide Image"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src="/img/about/about%20(25).jpg"
                                                        alt="Slide Image"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src="/img/about/about%20(27).jpg"
                                                        alt="Slide Image"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src="/img/about/about%20(3).jpg"
                                                        alt="Slide Image"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src="/img/about/about%20(5).jpg"
                                                        alt="Slide Image"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src="/img/about/about%20(6).jpg"
                                                        alt="Slide Image"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src="/img/about/about%20(9).jpg"
                                                        alt="Slide Image"></div>
                    </div>
                    <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span
                            class="carousel-control-prev-icon"></span><span
                            class="visually-hidden">Previous</span></a><a class="carousel-control-next"
                                                                          href="#carousel-1" role="button"
                                                                          data-bs-slide="next"><span
                            class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
                        <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
                        <li data-bs-target="#carousel-1" data-bs-slide-to="2"></li>
                        <li data-bs-target="#carousel-1" data-bs-slide-to="3"></li>
                        <li data-bs-target="#carousel-1" data-bs-slide-to="4"></li>
                        <li data-bs-target="#carousel-1" data-bs-slide-to="5"></li>
                        <li data-bs-target="#carousel-1" data-bs-slide-to="6"></li>
                        <li data-bs-target="#carousel-1" data-bs-slide-to="7"></li>
                        <li data-bs-target="#carousel-1" data-bs-slide-to="8"></li>
                    </ol>
                </div>
            </div>
            <div class="col-12" data-aos="zoom-in" style="margin-top: 5px;margin-bottom: 5px;">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                    massa.<br></p>
            </div>
            <div class="col-6" data-aos="zoom-in">
                <div class="carousel slide" data-bs-ride="false" id="carousel-2">
                    <div class="carousel-inner" data-bs-toggle="tooltip" data-bss-tooltip="">
                        <div class="carousel-item active"><img class="w-100 d-block" src="/img/about/about%20(1).jpg">
                        </div>
                        <div class="carousel-item"><img class="w-100 d-block" src="/img/about/about%20(10).jpg"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src="/img/about/about%20(11).jpg"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src="/img/about/about%20(12).jpg"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src="/img/about/about%20(13).jpg"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src="/img/about/about%20(14).jpg"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src="/img/about/about%20(15).jpg"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src="/img/about/about%20(17).jpg"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src="/img/about/about%20(18).jpg"></div>
                    </div>
                    <div><a class="carousel-control-prev" href="#carousel-2" role="button" data-bs-slide="prev"><span
                            class="carousel-control-prev-icon"></span><span
                            class="visually-hidden">Previous</span></a><a class="carousel-control-next"
                                                                          href="#carousel-2" role="button"
                                                                          data-bs-slide="next"><span
                            class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-bs-target="#carousel-2" data-bs-slide-to="0" class="active"></li>
                        <li data-bs-target="#carousel-2" data-bs-slide-to="1"></li>
                        <li data-bs-target="#carousel-2" data-bs-slide-to="2"></li>
                        <li data-bs-target="#carousel-2" data-bs-slide-to="3"></li>
                        <li data-bs-target="#carousel-2" data-bs-slide-to="4"></li>
                        <li data-bs-target="#carousel-2" data-bs-slide-to="5"></li>
                        <li data-bs-target="#carousel-2" data-bs-slide-to="6"></li>
                        <li data-bs-target="#carousel-2" data-bs-slide-to="7"></li>
                        <li data-bs-target="#carousel-2" data-bs-slide-to="8"></li>
                    </ol>
                </div>
            </div>
            <div class="col-6" data-aos="zoom-in">
                <div class="carousel slide" data-bs-ride="false" id="carousel-3">
                    <div class="carousel-inner" data-bs-toggle="tooltip" data-bss-tooltip="">
                        <div class="carousel-item active"><img class="w-100 d-block" src="/img/about/about%20(19).jpg">
                        </div>
                        <div class="carousel-item"><img class="w-100 d-block" src="/img/about/about%20(2).jpg"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src="/img/about/about%20(20).jpg"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src="/img/about/about%20(21).jpg"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src="/img/about/about%20(26).jpg"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src="/img/about/about%20(28).jpg"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src="/img/about/about%20(4).jpg"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src="/img/about/about%20(7).jpg"></div>
                        <div class="carousel-item"><img class="w-100 d-block" src="/img/about/about%20(8).jpg"></div>
                    </div>
                    <div><a class="carousel-control-prev" href="#carousel-3" role="button" data-bs-slide="prev"><span
                            class="carousel-control-prev-icon"></span><span
                            class="visually-hidden">Previous</span></a><a class="carousel-control-next"
                                                                          href="#carousel-3" role="button"
                                                                          data-bs-slide="next"><span
                            class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-bs-target="#carousel-3" data-bs-slide-to="0" class="active"></li>
                        <li data-bs-target="#carousel-3" data-bs-slide-to="1"></li>
                        <li data-bs-target="#carousel-3" data-bs-slide-to="2"></li>
                        <li data-bs-target="#carousel-3" data-bs-slide-to="3"></li>
                        <li data-bs-target="#carousel-3" data-bs-slide-to="4"></li>
                        <li data-bs-target="#carousel-3" data-bs-slide-to="5"></li>
                        <li data-bs-target="#carousel-3" data-bs-slide-to="6"></li>
                        <li data-bs-target="#carousel-3" data-bs-slide-to="7"></li>
                        <li data-bs-target="#carousel-3" data-bs-slide-to="8"></li>
                    </ol>
                </div>
            </div>
            <div class="col-12" data-aos="zoom-in" style="margin-top: 5px;margin-bottom: 5px;">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                    massa.<br></p>
            </div>
            <div class="col-12" data-aos="zoom-in" style="margin-top: 5px;margin-bottom: 5px;">
                <video width="100%" height="auto" controls="">
                    <source src="/video/about%20(1).MP4" type="video/mp4">
                </video>
            </div>
            <div class="col-12" data-aos="zoom-in" style="margin-top: 5px;margin-bottom: 5px;">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                    massa.<br></p>
            </div>
            <div class="col" data-aos="zoom-in" style="margin-top: 5px;margin-bottom: 5px;">
                <video width="100%" height="auto" controls="">
                    <source src="/video/about%20(2).MP4" type="video/mp4">
                </video>
            </div>
            <div class="col" data-aos="zoom-in" style="margin-top: 5px;margin-bottom: 5px;">
                <video width="100%" height="auto" controls="">
                    <source src="/video/about%20(4).mp4" type="video/mp4">
                </video>
            </div>
            <div class="col" data-aos="zoom-in" style="margin-top: 5px;margin-bottom: 5px;">
                <video width="100%" height="auto" controls="">
                    <source src="/video/about%20(6).mp4" type="video/mp4">
                </video>
            </div>
            <div class="col" data-aos="zoom-in" style="margin-top: 5px;margin-bottom: 5px;">
                <video width="100%" height="auto" controls="">
                    <source src="/video/about%20(7).mp4" type="video/mp4">
                </video>
            </div>
            <div class="col" data-aos="zoom-in" style="margin-top: 5px;margin-bottom: 5px;">
                <video width="100%" height="auto" controls="">
                    <source src="/video/about%20(8).mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</header>
<footer th:insert="blocks/footer :: footer" class="bg-primary-gradient"></footer>
</body>
</html>