<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Аналитика</title>
</head>
<head th:insert="blocks/head :: head"></head>
<body>
<div th:insert="blocks/nav :: nav"></div>
<section class="py-5">
    <div class="container py-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 class="fw-bold">Аналитика</h2>
            </div>
        </div>
        <div class="row" style="margin-bottom: 5px;">
            <div class="col d-xl-flex justify-content-xl-start">
                <h3 class="d-xl-flex justify-content-xl-center">Название</h3>
            </div>
            <div class="col d-xl-flex justify-content-xl-end">
                <h3 class="d-xl-flex justify-content-xl-center">Цена</h3>
            </div>
            <div class="col d-xl-flex justify-content-xl-end">
                <h3 class="d-xl-flex justify-content-xl-center">Количество</h3>
            </div>
            <div class="col d-xl-flex justify-content-xl-end">
                <h3 class="d-xl-flex justify-content-xl-center">Прибыль</h3>
            </div>
        </div>
        <div th:each="s : ${subs}" class="row" style="margin-bottom: 5px;">
            <div class="col d-xl-flex justify-content-xl-start">
                <p th:text="${s.name}"></p>
            </div>
            <div class="col d-xl-flex justify-content-xl-end">
                <p th:text="${s.stat.price.price}"></p>
            </div>
            <div class="col d-xl-flex justify-content-xl-end">
                <p th:text="${s.stat.count.count}"></p>
            </div>
            <div class="col d-xl-flex justify-content-xl-end">
                <p th:text="${s.stat.income.income}"></p>
            </div>
        </div>
    </div>
</section>
<footer th:insert="blocks/footer :: footer" class="bg-primary-gradient"></footer>
</body>
</html>