<nav th:fragment="nav" class="navbar navbar-light navbar-expand-md sticky-top navbar-shrink py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <span class="bs-icon-md bs-icon-circle bs-icon-primary shadow d-flex justify-content-center align-items-center me-2 bs-icon">
                <i class="fa fa-soccer-ball-o"></i>
            </span>
            <span>kidball</span>
        </a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
            <span class="visually-hidden">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link" href="/about">О нас</a></li>
                <li class="nav-item"><a class="nav-link" href="/subs">Абонементы</a></li>
                <li th:if="${role == 'CLIENT'}" class="nav-item"><a class="nav-link" href="/subs/my">Мои абонементы</a></li>
                <li class="nav-item"><a class="nav-link" href="/trainers">Команда</a></li>
                <li th:if="${role == 'ADMIN'}" class="nav-item"><a class="nav-link" href="/stats">Аналитика</a></li>
                <li th:if="${role != 'NOT'}" class="nav-item"><a class="nav-link" href="/user">Профиль</a></li>
                <li th:if="${role == 'ADMIN'}" class="nav-item"><a class="nav-link" href="/users">Пользователи</a></li>
                <li th:if="${role == 'NOT'}" class="nav-item"><a class="nav-link" href="/login">Вход</a></li>
                <li th:if="${role == 'NOT'}" class="nav-item"><a class="nav-link" href="/reg">Регистрация</a></li>
            </ul>
            <a th:if="${role != 'NOT'}" class="btn btn-primary shadow" role="button" href="/logout">Выход</a>
        </div>
    </div>
</nav>
